.newspaper-grid {
    gap: 1rem;
    grid-template-areas: 
    "🔤"
    "📅"
    "🌍"
    "📦";
    grid-template-columns: repeat(1, minmax(0, 1fr))
}

.newspaper-title {
    grid-area: 🔤;
    text-align: center;
    font-size: 10rem;
    padding: 1rem 0;
    border-top: 4px solid #222;
    border-bottom: 4px solid #222;
}

.newspaper-date {
    grid-area: 📅;
    border-top: 1px solid #222;
    border-bottom: 1px solid #222
}

.newspaper-title h1 {
    font-size: 4rem;
    font-weight: bold;
}

.newspaper-navbar {
    grid-area: 🌍;
    background-color: #222;
    color: #f1eee5;
    padding: .5rem 0;
}

.newspaper-articles-projects {
    grid-area: 📦;
    display: grid;
    gap: 1rem;
    grid-template-columns: .8fr .2fr;
    grid-template-areas: 
    "📰 ➡️";
    text-align: center;
}

.title {
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
    font-size: 1.8rem;
}

.articles-projects {
    grid-area: 📰;
}

.articles-projects a {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: .5s all;
}

.articles-projects a:hover {
    -webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
    filter: grayscale(0);
}

.projects-side {
    grid-area: ➡️;
    text-align: left;
}

@media screen and (max-width: 800px) {
    .project-grid {
        gap: .5rem;
        grid-template-areas: 
        "⭐"
        "🖼️"
        "⚙️"
        "📝";
        min-height: 300px;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        text-align: center;
    }
    
    .project-grid-inverted {
        gap: .5rem;
        grid-template-areas: 
        "⭐"
        "🖼️"
        "⚙️"
        "📝";
        min-height: 300px;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        text-align: center;
    }

    .newspaper-title h1 {
        font-size: 3rem;
    }

    .project-title {
        font-size: 2rem;
    }

    .project-image {
        margin: 0 0;
    }

    .project-description {
        text-align: center;
    }

    .projects-side {
        text-align: center;
    }

    .newspaper-articles-projects {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        grid-template-areas: 
        "📰"
        "➡️";
        text-align: center;
    }
}

@media screen and (max-width: 400px) {
    .newspaper-title h1 {
        font-size: 1.8rem;
    }

    .project-title {
        font-size: 1.6rem;
    }
}